<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Like</title>
</head>
<body>
<div id="root" style="height: 100%"></div>
<style type="text/css">
  html {
    height: unset!important;
  }
</style>
</body>
</html>
